* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #eee;
}

header {
  background-color: #3868d6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  color: #fff;
}

header H1 {
  font-style: italic;
  color: #fff;
}

.container {
  padding: 0 10%;
  margin-bottom: 3%;
}

#store {
  margin-bottom: 4%;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul a {
  color: #fff;
  margin-left: 20px;
  font-weight: bold;
  text-decoration: none;
  font-size: 1rem;
}

#store {
  display: grid;
  column-gap: 3%;
  grid-template-columns: 40% 57%;
}

#store img {
  width: 100%;
}

.content-about {
  width: 100%;
}

.title {
  color: #3868d6;
  border-bottom: 2px solid #3868d6;
  padding-bottom: 1%;
  margin-bottom: 3%;
  font-style: italic;
}

#products {
  height: fit-content;
}

.produto-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: fit-content;
  gap: 1%;
}

.produto {
  display: grid;
  grid-template-rows: 170px 1fr 1fr 1fr;
  grid-template-columns: 0.8fr;
  row-gap: 7%;
}

.produto p {
  font-size: 0.9rem;
}

.produto button {
  min-height: 30px;
  background-color: #3868d6;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1em;
}

.produto img {
  width: 100%;
  height: 100%;
}

.container-img {
  position: relative;
}

.icon {
  display: none;
  justify-content: center;
  align-items: center;
  width: 30px;
  padding: 5px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2%;
  right: 1%;
}

.icon img {
  width: 100%;
}

@media screen and (min-width: 641px) and (max-width: 1023px) {
  #store {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 3%;
    margin: 0;
  }

  .produto-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 20%;
    column-gap: 5%;
  }

  .title {
    margin-bottom: 5%;
  }

  .produto {
    grid-template-columns: 1fr;
    grid-template-rows: 215px auto auto auto;
    row-gap: 3%;
  }
}

@media screen and (max-width: 640px) {
  header h1 {
    font-size: 1.3em;
  }

  header nav ul li a {
    font-size: 0.66em;
  }

  #store {
    grid-template-columns: 1fr;
    grid-template-rows: 215px auto;
    row-gap: 3%;
  }

  #store img {
    height: 100%;
  }

  .title {
    font-size: 1.3em;
    margin-bottom: 10%;
  }

  .content-about p {
    font-size: 0.8em;
    margin-bottom: 10%;
  }

  .produto-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    row-gap: 10%;
  }

  .produto {
    grid-template-columns: 1fr;
    grid-template-rows: 215px auto auto auto;
    row-gap: 5%;
  }

  .produto h3 {
    font-size: 0.9em;
  }

  .produto p {
    font-size: 0.8em;
  }
}
